{% extends "index.html" %}

{% block content %}
<form method="POST" action="../save/">
    {% csrf_token %}
    <legend>Product Form</legend>
    <hr />
    <div class="row g-2">
        <div class="col-md">
            <label for="name" class="form-label">Name Product</label>
            <input type="hidden" id="id" name="id" value="{{ product.id }}" />
            <input type="text" id="name" name="name" value="{{ product.name }}" class="form-control" required
                placeholder="Name Product">
        </div>
        <div class="col-md">
            <label for="price" class="form-label">Price Product</label>
            <input type="number" id="price" name="price" value="{{ product.price }}" class="form-control" required
                step="00.01" placeholder="Price Product">
        </div>
    </div>
    <div class="row g-2">
        <div class="col-md">
            <label for="category" class="form-label">Select Category</label>
            <select id="category" name="category" class="form-select" required>
                <option value="">Select one Category</option>
                {% for category in categories %}
                {% if product.category == category.name %}
                <option value="{{ category.name }}" selected>{{ category.name }}</option>
                {% else %}
                <option value="{{ category.name }}">{{ category.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-md">
            <label for="image" class="form-label">Image of Product</label>
            <input type="text" id="image" name="image" value="{{ product.image }}" class="form-control" required
                placeholder="Image of Product">
        </div>
    </div>
    <div class="row g-2">
        <label for="decription" class="form-label">Description of Product</label>
        <textarea id="decription" name="decription" class="form-control" required placeholder="Decription of Product">{{ product.decription }}</textarea>
    </div>
    <div class="row g-2">
        <div class="col-md d-grid gap-2">
            <button type="submit" class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-file-earmark-check" viewBox="0 0 16 16">
                    <path
                        d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                    <path
                        d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                </svg>
                Save
            </button>
            <a href="/product/list/" class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                    <path
                        d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
                    <path
                        d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                </svg>
                Cancel
            </a>
        </div>
    </div>
</form>
<br/><br/>
{% endblock %}